<div id="small-menu">
	<div id="small-home" class="mobilemenu"><a href="{{site.url}}">home</a></div>
	<div id="small-store" class="mobilemenu"><a href="https://shop.dreambound.space">store</a></div>
	<div id="small-about" class="mobilemenu"><a href="{{site.baseurl}}/about">about</a></div>
  <div id="small-design" class="mobilemenu"><a href="{{site.baseurl}}/Design.html">design</a></div>
  <div id="small-playlists" class="mobilemenu"><a href="{{site.baseurl}}/Playlists.html">playlists</a></div>
</div>

<div id="boxlinks" class="mobileinvis">
    <div id="store"><a href="https://shop.dreambound.space">store</a></div>
    <div id="about"><a href="{{site.url}}/about">about</a></div>
    <div id="design"><a href="{{site.url}}/Design.html">design</a></div>
    <div id="playlists"><a href="{{site.url}}/Playlists.html">playlists</a></div>
    
    <div id="wordmark-white"><a href="{{site.url}}"><img src="{{site.baseurl}}/assets/images/Wordmark-white.png" height="70" alt="dreambound" class="responsive"/></a> 
        <div id="wordmark-rainbow"><a href="{{site.url}}"><img src="{{site.baseurl}}/assets/images/Wordmark-color.png" height="70" alt="dreambound" class="responsive"/></a></div>
    </div>
</div>


<script>

function myFunction() {
var x = document.getElementById("small-menu");
if (x.style.display === "block") {
x.style.display = "none";
} else {
x.style.display = "block";
}
}

</script>