<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{{ page.title }}</title>
	
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rokkitt:wght@300&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/54076f8c27.js" crossorigin="anonymous"></script>
	<link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet" type="text/css">
	<link href="{{site.baseurl}}/assets/css/mobilestyles.css" rel="stylesheet" type="text/css">
	<link href="{{site.baseurl}}/assets/css/reset.css" rel="stylesheet" type="text/css">
	<link href="{{site.baseurl}}/assets/css/debug.css" rel="stylesheet" type="text/css">
	<link href="{{site.baseurl}}/assets/css/blogstyles.css" rel="stylesheet" type="text/css">
	<link href="{{site.baseurl}}/assets/css/bloghome.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/assets/css/blogarchive.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/assets/css/indexstyle.css" rel="stylesheet" type="text/css">
	
	<style type="text/css">
	</style>
</head>	
	

	
<body>

<div id="front-image"><img src="{{site.baseurl}}/assets/images/UnderMaintenanceImage.png" alt="this page is under maintenance" class="center"/></div>
<div id="bottom-border"></div>
	
<div class="toplinks">
  <div id="edge" class="mobileinvis">
			<a href="https://www.instagram.com/dreambound.space/" class="fa fa-instagram"></a>
			<a href="https://twitter.com/dreamboundspace" class="fa fa-twitter"></a>
			<a href="https://dreamboundspace.tumblr.com" class="fab fa-tumblr"></a>
		</div>
  <input type="image" id="baby-moon" src="{{site.baseurl}}/assets/images/MoonLogo.png" alt="baby moon" class="babymoon" onclick="myFunction()">
</div>

<div class="indexhome">
<div class="blogposts">
	{{ content }}
</div>
</div>

	
{% include boxlinks.html %}
	
</body>
	
	
	
	
</html>