---
layout: default
---
<div class="blogposts">
    <div class="postheader">
        <div class="posttitle">{{ page.title }}</div>
        <div class="posttag">{{ page.author}} :: <a href="{{site.baseurl}}/tag/{{ page.tag }}">{{ page.tag }}</a></div>
        <div class="postdate">{{ page.date }}</div>
    </div>
    <div class="blogsections">
	    {{ content }}
    </div>
</div>


<div id="recentposts">Recent Posts</div>
<div class="recentbottom">
    {% assign posts = site.posts %}
    {% for post in site.posts limit:4 %} 
    <div class="recentposts">
        <div class="recent-card-body">
            <h2 class="card-title">
                <a class="rimage" href="{{ site.baseurl }}{{ post.url }}"><img class="recentimage" src="{{ site.baseurl }}/assets/images/{{ post.image }}"></a>
                <a class="recent-post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> {% if post.rating %}
                {% endif %}
            </h2>
        </div>
    </div>
    {% endfor %}
</div>